# Compilados de Java
*.class

# Archivos de log
*.log

# Configuración de NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
target/

# Archivos del sistema
.DS_Store
Thumbs.db

# Otros
*.iml
.idea/
